/**
 * Base App styles
 */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  min-width: 320px;
  min-height: 500px;
  font: $app-font-weight $app-font-size $app-font;
  line-height: $app-line-height;
  letter-spacing: $app-letter-spacing;
  color: $black;
  background-color: $white;
  overflow-x: hidden;
  position: relative;
}

/**
 * Links
 */
a {
  color: inherit;
  text-decoration: underline;
  transition: all $trs;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:active {}
}

/**
 * Elements outline
 */
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

/**
 * Other
 */
p {
  margin-top: 0;
}

b,
strong {
  font-weight: 700
}

/**
 * Selection
 */
// ::selection      { color: $white; background: $aColor; }
// ::-moz-selection { color: $white; background: $aColor; }