/**
 * Blocks (BEM), basic UI styled elements
 * that can be used throughout the application
 */

/**
 * Block: title-{1-6}
 */
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  color: $black;
  font-weight: 500;
  line-height: 1.15;
  margin: 0 0 0.5em 0;
}
.title-1 {
  font-weight: 700;
  font-size: 2.8125rem;
}
.title-2 {
  font-size: 2.1875rem;
}
.title-3 {
  font-size: 1.25rem;
}
.title-4 {
  font-size: 1rem;
}
.title-5 {
  font-size: 0.825rem;
}
.title-6 {
  font-size: 0.625rem;
}
@include media-breakpoint-down(sm) {
  .title-1 {
    font-size: 2.3rem;
  }
  .title-2 {
    font-size: 1.75rem;
  }
  .title-3 {
    font-size: 1.15rem;
  }
}

/**
 * Block: btn
 */
.btn {
  cursor: pointer;
  display: inline-block;
  color: $white;
  vertical-align: middle;
  text-align: center;
  line-height: 1.25;
  text-decoration: none;
  user-select: none;
  border: none;
  background-color: $accent;
  padding: .625em 1.25em;
  touch-action: manipulation;
  position: relative;
  transition: all $trs;
  .aif,
  .fa {
    vertical-align: middle;
    position: relative;
    top: -0.08em;
  }
  // btn_transparent
  &_transparent {
    color: $accent;
    border: .0625em solid $accent;
    padding: 0.563em 1.25em;
    background-color: transparent;
    &:hover {
      color: $white;
      background-color: $accent;
    }
    &:active {}
    &.btn_effect {
      &_silent {
        &:before {
          background-color: $accent;
        }
        &:hover {
          color: $white;
          background-color: transparent;
        }
      }
    }
  }
  // Effects
  &_effect {
    // btn_effect_silent
    &_silent {
      transform: translateZ(0);
      overflow: hidden;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 200%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center top;
        background-color: rgba($white, .2);
        border-radius: 50%;
        z-index: -1;
        transition: transform $trs * 1.5 ease-in-out;
      }
      &:hover {
        &:before {
          transform: translate(-50%, -50%) scale(1);
          transform-origin: center bottom;
        }
      }
      &:active {
        &:before {
          opacity: 0.9;
        }
      }
    }
  }
  // Transformations
  &_wide {
    display: block;
    width: 100%;
  }
}

/**
 * Block: ration-container
 */
.ratio-box {
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
  }
  > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &_2-1 {
    &:after {
      padding-bottom: 50%;
    }
  }
  &_16-9 {
    &:after {
      padding-bottom: 56.3%;
    }
  }
  &_4-3 {
    &:after {
      padding-bottom: 75%;
    }
  }
  &_40 {
    &:after {
      padding-bottom: 40%;
    }
  }
  &_60 {
    &:after {
      padding-bottom: 60%;
    }
  }
}

/**
 * Block: top-button
 */
#top-button {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: -100px;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  color: $white;
  text-align: center;
  line-height: 2.6rem;
  background-color: rgba($accent, .25);
  transition: all $trs ease;
  z-index: 999;
  &.up:before,
  &.down:before {
    content: '';
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
  &:hover {
    background-color: rgba($accent, .65);
  }
  &:active {
    background-color: rgba($accent, .5);
  }
}

#top-button.up,
#top-button.down {
  right: 15px;
  &:before {
    font-family: 'AppIconFont';
  }
}

#top-button.up {
  &:before {
    content: '\e907';
  }
}
#top-button.down {
  &:before {
    content: '\e904';
  }
}

/**
 * Block: logo-main 
 */
.logo-main {
  &__img {
    display: block;
    width: 100%;
    max-width: 185px;
  }
}

/**
 * Block: menu-main
 */
.menu-main {
  &__list {
    font-size: 0;
    // font-weight: 500;
    line-height: 0;
    > li {
      display: inline-block;
      font-size: 1rem;
      line-height: 0;
      margin: 0 1.71875em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      > a {
        display: inline-block;
        line-height: 1.25;
        text-decoration: none;
        padding: 0.5em 0;
        &:hover {
          color: $accent;
          text-decoration: none;
        }
        &:active {}
      }
      &.current-menu-item {
        > a {
          color: $accent;
        }
      }
    }
  }
}

/**
 * Block: menu-simple
 */
.menu-simple {
  line-height: 0;
  &__list {
    > li {
      margin: 0.65em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      > a {
        display: inline-block;
        line-height: 1.25;
        text-decoration: none;
        &:active {}
      }
      &.current-menu-item,
      &:hover {
        > a {
          color: $accent;
        }
      }
    }
  }
}

/**
 * Block: contact-block-min
 */
.contact-block-min {
  display: inline-block;
  line-height: 1.25;
  text-decoration: none;
  transition: all $trs;
  .aif {
    transition: all $trs;
    &:before {
      transition: all $trs;
    }
  }
  &:hover {
    color: $black;
    .aif {
      display: inline-block;
      transform: translate(0, -7%);
      &:before {
        color: $accent;
        transition: all $trs;
      }
    }
  }
  &:active {
    color: lighten($black, 15%);
  }
}

/**
 * Block: drawer-main
 */
.drawer-main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -320px;
  width: 320px;
  padding: 31.5px 15px;
  background-color: rgba($accent-light, .97);
  overflow-y: auto;
  z-index: 999;
  opacity: 0;
  transition: all $trs * 1.25 ease-in-out;
  box-shadow: 1px 5px 9.5px 0.5px rgba(#222, 0.06);
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3000px;
    right: 95%;
    background-color: rgba($accent-light, .97);
    z-index: -1;
  }
  // Active state
  &.is-active {
    left: 0;
    opacity: 1;
  }
  &__switch {
    position: absolute;
    right: 0;
    top: 0;
  }
  &_main,
  &_cat {
    .menu-vertical {
      &__list {
        > li {
          margin-left: -15px;
          > a {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
  // &_cat {
  //   .menu-vertical {
  //     &__list {
  //       > li {
  //         > a {}
  //       }
  //     }
  //   }
  // }
}

/**
 * Block: menu-vertical
 */
.menu-vertical {
  &__list {
    > li {
      background-color: $white;
      margin-bottom: 3px;
      > a {
        display: block;
        text-decoration: none;
        padding: .25em 0;
      }
      &:hover,
      &.current-menu-item {
        color: $white;
        background-color: #6aada5;
        > a {}
      }
    }
  }
}

/**
 * Block: offer-main
 */
.offer-main {
  width: 100%;
  max-width: 630px;
  padding: 60px 52px 52px 100px;
  background-color: rgba($white, .9);
  position: relative;
  z-index: 1;
  box-shadow: 5px 6px 6px -4.5px rgba(5, 56, 21, 0.15);
  &__title {}
  &__content {}
  &_compact {
    max-width: 715px;
    padding: 35px 50px;
    .offer-main {
      &__title {}
      &__content {
        max-width: 420px;
        margin: 0 auto;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .offer-main {
    padding: 45px 55px;
    &_compact {}
  }
}
@include media-breakpoint-down(xs) {
  .offer-main {
    padding: 45px 15px;
    &_compact {}
  }
}





/**
 * Block: slider-main
 */
.slider-main {
  /**
   * Owl carousel with Lazysizes
   * appearing from zero height fix
   */
  &.lazyload {
    display: block;
    height: 0;
    overflow: hidden;
  }
  &_mode {
    /**
     * Owl mode: slider like navigation
     */
    &_nav {
      .owl-item {
        opacity: 0.5;
        transition: opacity $trs;
        &.center {
          opacity: 1;
        }
      }
    }
  }
}

/**
 * Block: slider-nav
 */
.slider-nav {
  &_main {
    line-height: 0;
    .slider-nav {
      &__prev,
      &__next {
        display: inline-block;
        cursor: pointer;
        width: 2.5625em;
        height: 2.5625em;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        border: none;
        border-radius: 50%;
        color: $white;
        background: rgba($accent, .75);
        padding: 0;
        transition: all $trs;
        > * {
          display: inline-block;
          vertical-align: top;
        }
        &:hover {
          background: rgba($accent, .85);
        }
        &:active {
          background: rgba($accent, .65);
        }
        &.disabled {
          cursor: not-allowed;
          color: rgba($white, .75) !important;
          background: rgba($grey, .2) !important;
        }
      }
    }
    &__prev {}
    &__next {}
  }
  &_pos {
    /**
     * Owl nav: centered arrows postion
     */
    &_center {
      .slider-nav {
        &__prev,
        &__next {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &__prev {
          left: 0;
        }
        &__next {
          left: 100%;
        }
      }
    }
  }
  // Owl nav is disabled
  &.disabled {
    display: none !important;
  }
}
@include media-breakpoint-down(xs) {
  .slider-nav {
    &_pos {
      &_center {
        position: absolute;
        top: 0;
        left: 15px;
        transform: translateY(-50%);
        .slider-nav {
          &__prev,
          &__next {
            position: static;
            top: 0;
            left: auto;
            font-size: 0.75rem;
            transform: translate(0);
            margin-right: 0.46875rem;
            // background-color: rgba($accent,.85);
          }
          &__prev {
           
          }
          &__next {
          }
        }
      }
    }
  }
}

/**
 * Block: slider-dots
 */
.slider-dots {
  // default dots
  &_main {
    line-height: 0;
    .slider-dots__dot {
      display: inline-block;
      cursor: pointer;
      width: 0.625rem;
      height: 0.625rem;
      border: none;
      border-radius: 50%;
      padding: 0;
      margin: 0 0.46875rem;
      background: rgba(#cbcbcb, .6);
      transition: all $trs;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active,
      &:hover {
        background: rgba($accent, .75);
      }
    }
  }
}

/**
 * Block: figure-iconbox
 */
.figure-iconbox {
  margin: 0;
  &__icon {
    font-size: 2.75rem;
    width: 1em;
    height: 1em;
    line-height: 0;
    text-align: center;
    border-radius: 50%;
    background-color: $primary;
    > i {
      color: $white;
      font-size: 0.568em;
      line-height: 1.8em;
    }
  }
  &__descr {
    font-size: 0.9375rem;
    font-weight: 500;
  }
}

/**
 * Block: figure-icon-card
 */
.figure-icon-card {
  padding: 1.675rem 1.25rem;
  margin: 0;
  background-color: $white;
  &__icon {
    color: rgba($accent, .5);
    font-size: 5em;
    line-height: 0;
    margin-bottom: 1rem;
  }
  &__descr {
    line-height: 1.45;
    font-weight: 400;
  }
}
@include media-breakpoint-down(xl) {
  .figure-icon-card {
    &__icon {
      font-size: 3em;
    }
    &__descr {
      font-size: 0.85rem;
    }
  }
}

/**
 * Block: deco-sct-city
 */
.deco-sct-city {
  position: relative;
  z-index: 1;
  overflow: hidden;
  &__img {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -3px; left: 0;
    pointer-events: none;
    z-index: -1;
  }
}

/**
 * Block: card-main
 */
.card-main {
  padding: 30px;
  background-color: #fafafa;
  box-shadow: 5px 6px 6px -4.5px rgba(5, 56, 21, 0.15);
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &__img {
    margin-bottom: 1rem;
  }
  &__title {
    line-height: 1.5;
  }
  &__content, &__price {
    margin-bottom: 1.2rem;
  }
  &__price {
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 500;
  }
  // &__actions {}
}

/**
 * Block: gallery-works
 */
.gallery-works {
  padding: 30px;
  margin: 0 -30px;
  position: relative;
  box-shadow: 5px 6px 6px -4.5px rgba(5, 56, 21, 0.15);
}
@include media-breakpoint-down(xs) {
  .gallery-works {
    margin: 0 -30px;
    position: relative;
  }
}

/**
 * Block: form-input
 */
.form-input {
  display: inline-block;
  border: 1px solid transparent;
  vertical-align: middle;
  line-height: 1.25;
  padding: 0.563em 1.2em;
  // &_sm {
  //   font-size: .82em;
  //   padding: 0.628em 1.15em;
  // }
  // &_md {
  //   font-size: 1em;
  //   padding: 0.641em 1.15em;
  // }
  // &_lg {
  //   font-size: 1.25em;
  //   padding: 0.653em 1.15em;
  // }
  &_wide {
    display: block;
    width: 100%;
  }
  &_dark {
    background-color: #f5f5f5;
  }
}

/**
 * Block: form-input-name
 */
.form-input-name {
  display: block;
  cursor: pointer;
  line-height: $app-line-height;
  // &_sm {
  //   font-size: .82em;
  // }
  // &_md {
  //   font-size: 1em;
  // }
  // &_lg {
  //   font-size: 1.25em;
  // }
}

/**
 * Block: form-check
 */
.form-check {
  display: inline-block;
  height: 1em;
  width: 1em;
  cursor: pointer;
  vertical-align: middle;
  // border: 1px solid #ced3d2;
  border: 1px solid transparent;
  background-color: $white;
  position: relative;
  overflow: hidden;
  span {
    position: absolute;
    display: block;
    height: 0.2352em;
    width: 0.4705em;
    top: 50%;
    left: 50%;
    margin: -0.2117em 0 0 -0.1929em;
    border: 0.1765em solid $accent;
    border-width: 0 0 0.1465em 0.1465em;
    transform: rotate(-45deg);
    transition: all $trs;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  }
  input[type="checkbox"] {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    margin: 0 !important;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
  }
  &.jcf-checked span {
    opacity: 1;
  }
  &_dark {
    border-color: #ddd;
    // background-color: #f5f5f5;
  }
  // &_sm {
  // }
  // &_md {
  // }
  // &_lg {
  // }
}

/**
 * Block: form-check-name
 */
.form-check-name {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.25;
}

/**
 * Block: form-group
 */
.form-group {
  display: block;
  font-size: 1em;
  line-height: 0;
  position: relative;
  .form-input {}
  .form-check {
    position: absolute;
    vertical-align: top;
    top: 50%; left: 0;
    transform: translateY(-50%);
  }
  .form-check-name {
    padding-left: 2em;
  }
  // Animated placeholder
  &_holder_default {
    position: relative;
    .form-input-name {
      position: absolute;
      top: .45em;
      left: 1.24em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      pointer-events: none;
      transition: all $trs ease-in-out;
    }
    .form-input {
      &:focus {}
      &:focus ~ .form-input-name,
      &.is-not-empty ~ .form-input-name {
        transform: scale(.7);
        transform-origin: left center;
        top: -.75em;
        background-color: $white;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
    .form-input_dark {
      &:focus ~ .form-input-name,
      &.is-not-empty ~ .form-input-name {
        background-color: #f5f5f5;
      }
    }
  }
}

/**
 * Block: form-feedback-calc
 */
.form-feedback-calc {
  padding: 35px 50px 50px 50px;
  background-color: rgba($accent-light, .95);
}
@include media-breakpoint-down(xs) {
  .form-feedback-calc {
    margin-left: -15px;
    margin-right: -15px;
    padding: 35px 15px 50px 15px;
  }
}

/**
 * Block: rellax-box
 */
.rellax-box {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow: hidden;
  z-index: -1;
  > img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // transition: all $trs;
  }
  &_zoom {
    &_10 {
      > img {
        top: -10%;
        left: 0;
        width: 100%;
        height: 100% + 10% * 2;
      }
    }
    &_15 {
      > img {
        top: -10%;
        left: 0;
        width: 100%;
        height: 100% + 10% * 2;
      }
    }
    &_25 {
      > img {
        top: -10%;
        left: 0;
        width: 100%;
        height: 100% + 10% * 2;
      }
    }
  }
}

/**
 * Block: app-popup
 */
.app-popup {
  display: none;
  /**
   * Theme: Default
   */
  &_theme_default {
    // Content area
    &.fancybox-content {
      width: 100%;
      padding: 40px 45px 55px 45px;
      max-width: 470px;
    }
    // Close button
    .fancybox-close-small {
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px;
      // color: #222; // Цвет SVG
      border-radius: 50%;
      padding: 6px;
      background-color: lighten(#f5f5f5, 2%);
      transition: all $trs;
      svg {
        transition: all $trs;
      }
      &:hover {
        background-color: darken(#f5f5f5, 1%);
        svg {
          transform: rotate(180deg) scale(.75);
        }
      }
      &:active {
        background-color: lighten(#f5f5f5, 2%);
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .app-popup {
    &_theme_default {
      &.fancybox-content {
        padding: 35px 25px 35px 25px;
      }
    }
  }
}

/**
 * Block: figure-iconstep
 */
$line-color: rgba($primary, .15);

.figure-iconstep {
  margin: 0;
  &__icon {
    color: $primary;
    font-size: 4.375rem;
    line-height: 0;
    margin-bottom: 1.25rem;
  }
  &__deco {
    line-height: 0;
    margin-bottom: 1.625rem;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      transform: translateY(-50%);
      background-color: $line-color;
    }
    &:before {
      display: none;
      left: -15px;
      right: 62%;
    }
    &:after {
      display: block;
      left: 2.5rem;
      right: -15px;
    }
  }
  &__point {
    display: inline-block;
    width: 1.625em;
    height: 1.625em;
    vertical-align: middle;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    box-shadow: 1px 3px 2.5px 0.5px rgba(5, 56, 21, 0.06);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0.3125em; bottom: 0.3125em;
      left: 0.3125em; right: 0.3125em;
      border-radius: 50%;
      background-color: rgba($primary, .5);
    }
  }
  &__num {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 1.08rem;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
    z-index: 1;
    &:before {
      content: '';
      display: block;
      width: 2.3125rem;
      height: 2.3125rem;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: lighten($primary, 20%);
      z-index: -1;
      box-shadow: 1px 3px 2.5px 0.5px rgba(5, 56, 21, 0.06);
    }
  }
  &__end {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    background-color: transparent;
    &:before,
    &:after {
      content: '';
      display: none;
      width: 1px;
      height: 500px;
      position: absolute;
      left: 0;
      background-color: $line-color;
    }
    &:before {
      bottom: 0;
    }
    &:after {
      top: 0;
    }
  }
  &__title {
    max-width: 220px;
    margin-bottom: 0.7em;
  }
  &__descr {
    max-width: 250px;
  }
}

/**
 * Block: figure-iconstep-box
 */
.figure-iconstep-box {
  justify-content: flex-end;
  > div {
    overflow: hidden;
    &:nth-child(4) {
      .figure-iconstep {
        &__end {
          &:after {
            display: block;
          }
          &:before {}
        }
      }
    }
    &:nth-child(5) {
      order: 8;
      .figure-iconstep {
        &__end {
          &:after {}
          &:before {
            display: block;
          }
        }
      }
    }
    &:nth-child(6) {
      order: 7;
    }
    &:nth-child(7) {
      order: 6;
    }
    &:nth-child(8) {
      order: 5;
    }
  }
}
@include media-breakpoint-down(md) {
  .figure-iconstep-box {
    text-align: center;
    justify-content: flex-start;
    > div {
      .figure-iconstep {
        &__title, &__descr {
          margin-left: auto;
          margin-right: auto;
        }
        &__num {
          color: $white;
          &:before {
            background-color: rgba($primary, .85);
          }
        }
        &__deco {
          &:before {
            display: block;
          }
          &:after {
            left: 62%;
          }
        }
      }
      &:last-child {
        .figure-iconstep {
          &__deco {
            &:after {
              display: none;
            }
          }
        }
      }
      &:first-child {
        .figure-iconstep {
          &__deco {
            &:before {
              display: none;
            }
          }
        }
      }
      &:nth-child(3) {
        .figure-iconstep {
          &__end {
            &:after {
              display: block;
            }
          }
        }
      }
      &:nth-child(4) {
        order: 6;
        .figure-iconstep {
          &__end {
            &:after {
              display: none;
            }
            &:before {
              display: block;
            }
          }
        }
      }
      &:nth-child(5) {
        order: 5;
        .figure-iconstep {
          &__end {
            &:after, &:before {
              display: none;
            }
          }
        }
      }
      &:nth-child(6) {
        order: 4;
        .figure-iconstep {
          &__end {
            left: -15px;
            &:after {
              display: block;
            }
          }
        }
      }
      &:nth-child(7) {
        order: 7;
        .figure-iconstep {
          &__end {
            top: 15px;
            left: -15px;
            &:before {
              display: block;
            }
          }
        }
      }
      &:nth-child(8) {
        order: 8;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .figure-iconstep-box {
    justify-content: flex-end;
    > div {
      &:last-child {
        .figure-iconstep {
          &__deco {
            &:after {
              display: block;
            }
            &:before {
              display: none;
            }
          }
        }
      }
      &:nth-child(2) {
        .figure-iconstep {
          &__end {
            &:after {
              display: block;
            }
          }
        }
      }
      &:nth-child(3) {
        order: 4;
        .figure-iconstep {
          &__end {
            &:before {
              display: block;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &:nth-child(4) {
        order: 3;
        .figure-iconstep {
          &__end {
            top: 15px;
            left: -15px;
            &:before {
              display: none;
            }
            &:after {
              display: block;
            }
          }
        }
      }
      &:nth-child(5) {
        order: 5;
        .figure-iconstep {
          &__end {
            top: 15px;
            left: -15px;
            &:before {
              display: block;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &:nth-child(6) {
        order: 6;
        .figure-iconstep {
          &__end {
            left: auto;
            right: -15px;
            &:before {
              display: none;
            }
            &:after {
              display: block;
            }
          }
        }
      }
      &:nth-child(7) {
        order: 8;
        .figure-iconstep {
          &__end {
            left: auto;
            right: -15px;
            &:before {
              display: block;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &:nth-child(8) {
        order: 7;
        .figure-iconstep {
          &__end {
            left: auto;
            right: -15px;
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .figure-iconstep-box {
    > div {
      order: 1 !important;
      .figure-iconstep {
        &__end {
          display: none !important;
        }
        &__deco {
          &:after, &:before {
            display: block !important;
          }
          &:before {
            right: 60% !important;
          }
          &:after {
            left: 60% !important;
          }
        }
      }
    }
  }
}

/**
 * Block: product-gallery
 */
.product-gallery {
  padding: 1.875rem;
}
@include media-breakpoint-down(xs) {
  .product-gallery {
    padding-left: 0;
    padding-right: 0;
  }
}