/**
 * Common application mixes (BEM)
 */

/**
 * Mix: flex
 */
.flex {
  &-grow-2 {
    flex-grow: 2 !important;
  }
}

/**
 * Mix: text
 */
.text {
  // Colors
  &-accent {
    color: $accent;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-grey {
    color: $grey;
  }
  // Other
  &-nowrap {
    white-space: nowrap;
  }
  &-middle {
    vertical-align: middle;
  }
}

/**
 * Mix: font
 */
.font {
  &-weight {
    &-light {
      font-weight: 300 !important;
    }
    &-normal {
      font-weight: 400 !important;
    }
    &-medium {
      font-weight: 500 !important;
    }
    &-bold {
      font-weight: 700 !important;
    }
  }
}

/**
 * Mix: pos
 */
.pos {
  &-static {
    position: static;
  }
  // &-relative {
  //   position: relative;
  // }
}
@include media-breakpoint-up(sm) {
  .pos-sm-static {
    position: static;
  }
}

/**
 * Mix: z
 */
.z {
  // &-n1 {
  //   z-index: -1 !important;
  // }
  &-0 {
    z-index: 0 !important;
  }
  // &-1 {
  //   z-index: 1 !important;
  // }
}

/**
 * Mix: bg
 */
.bg {
  &-white {
    background-color: $white;
  }
  &-white-darken-1 {
    background-color: $white-darken-1;
  }
  &-accent {
    background-color: $accent;
  }
  &-accent-light {
    background-color: $accent-light;
  }
  &-accent-extra-light {
    background-color: $accent-extra-light;
  }
  &-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/**
 * Mix: mw
 */
.mw {
  &-300 {
    max-width: 300px;
  }
}

/**
 * Mix: shadow-main
 */
.shadow {
  &-main {
    box-shadow: 2px 3px 6px -1.5px rgba(5, 56, 21, 0.1);
  }
}

/**
 * Image classes
 */
.img-cover {
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.img-contain {
  object-fit: contain;
  font-family: "object-fit: contain;";
}
.img-full {
  display: block;
  width: 100%;
  height: 100%;
}

/**
 * Mix: list-empty
 */
.list-empty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * Mix: sticky-box
 */
.sticky-box {
  &-xs {}
}
@include media-breakpoint-down(xs) {
  .sticky-box {
    &-xs {
      width: auto !important;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

/**
 * Mix: ...
 */
.fx {
  &__box {
    overflow: hidden;
  }
  &__target {
  }
  &:hover {
    &__target {
    }
  }
  &__target {
    transform: scale(1);
    transition: .3s ease-in-out;
  }
  &:hover {
    .fx__target {
      transform: scale(1.3);
    }
  }

  &-zoomIn {
    .fx {
      
    }
  }

}