/**
 * Common application mixes (BEM)
 */

/**
 * Mix: flex
 */
.flex {
  &-grow-2 {
    flex-grow: 2 !important;
  }
}

/**
 * Mix: text
 */
.text {
  // Align
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  // Colors
  &-accent {
    color: $accent;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  // Other
  &-nowrap {
    white-space: nowrap;
  }
  &-middle {
    vertical-align: middle;
  }
}

/**
 * Mix: font
 */
.font {
  &-weight {
    &-light {
      font-weight: 300;
    }
    &-normal {
      font-weight: 400;
    }
    &-medium {
      font-weight: 500;
    }
    &-bold {
      font-weight: 700;
    }
  }
}

/**
 * Mix: bg
 */
.bg {
  &-accent {
    background-color: $accent;
  }
  &-accent-light {
    background-color: $accent-light;
  }
  &-accent-extra-light {
    background-color: $accent-extra-light;
  }
  &-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/**
 * OFI classes
 */
.img-cover {
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.img-contain {
  object-fit: contain;
  font-family: "object-fit: contain;";
}

/**
 * Mix: list-empty
 */
.list-empty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}