/**
 * Common application mixes (BEM)
 */

/**
 * Block: flex
 */
.flex {
  &-grow-2 {
    flex-grow: 2 !important;
  }
}

/**
 * Block: text
 */
.text {
  // Align
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  // Colors
  &-accent {
    color: $accent;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  // Other
  &-nowrap {
    white-space: nowrap;
  }
  &-middle {
    vertical-align: middle;
  }
}

/**
 * Block: bg
 */
.bg {
  &-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/**
 * OFI classes
 */
.img-cover {
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.img-contain {
  object-fit: contain;
  font-family: "object-fit: contain;";
}

/**
 * Block: list-empty
 */
.list-empty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}