/**
 * Application sections
 * Blocks (BEM)
 */

/**
 * Section: sct
 */
.sct {
  position: relative;
  &__bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_under-header {
    padding-top: 115px + 62px + 62px !important;
  }
}

/**
 * Section: app
 */
.app {}

/**
 * Section: app-header
 */
.app-header {
  &_fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__main {
    background-color: rgba(#fafafa, .93);
    padding: 31.5px 0;
    box-shadow: 1px 5px 9.5px 0.5px rgba(5, 56, 21, 0.02);
    position: relative;
    z-index: 10;
  }
  &__sub {
    background-color: $accent-light;
    padding: 13px 0;
    box-shadow: 1px 5px 9.5px 0.5px rgba(5, 56, 21, 0.02);
    position: relative;
    z-index: 5;
  }
}

/**
 * Section: app-page
 */
.app-page {}

/**
 * Section: app-footer
 */
.app-footer {
  &__main {
    padding: 48px 0;
  }
  &__sub {
    padding: 18.5px 0;
  }
}

/**
 * Section: main-screen
 */
.sct-main-screen {
  background-color: #f5f5f5;
  padding: 62px 0;
  &__offer-main {
    max-width: 630px;
    padding: 60px 52px 52px 100px;
  }
}
@include media-breakpoint-down(md) {
  .sct-main-screen {
    &__offer-main {
      padding: 40px 55px;
    }
  }
}
@include media-breakpoint-down(xs) {
  .sct-main-screen {
    &__offer-main {
      padding: 45px 15px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}