// Colors
$white: #fefefe;
$black: #2e2b2c;
$grey: #8c9392;
$grey-light: #909090;
$accent: #027466;
$accent-light: #eff7f7;
$accent-extra-light: #f1f6f8;



// Typography
$app-font: 'Roboto', sans-serif;
$app-font-size: 16px;
$app-line-height: 1.6;
$app-font-weight: 400;

// Loader
// $app-loader-size-md: 50px;

// Transitions
$trs: .15s;