// Colors
$white: #fff;
$black: #222;
$grey: #bbb;
$accent: #fa0;
$primary: #fa0;

// Typography
$app-font: 'Open Sans', sans-serif;
$app-font-size: 16px;
$app-line-height: 1.5;
$app-font-weight: 400;
$app-letter-spacing: normal; // 0.05em === 50(photoshop)/1000

// Loader
$app-loader-size-md: 50px;

// Transitions
$trs: .15s;